/* FONTS
===================================*/

//----------------------------------*\
// @FONT-FACE & @IMPORT
//----------------------------------

@import url('http://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700,400italic');


//----------------------------------*\
// THIRD-PARTY
//----------------------------------

// Handy font mixin when utilizing third party services like typekit or fonts.com
// Some examples to get you started with.
// For other devs, it would be great to list out the weights in the file. See below.

@mixin font($family: sans-serif, $weight: normal) {
	// Generic Font Stack
	@if $family == "generic" {
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	}
	// Proxima Nova
	@if $family == "proxima" {
		font-family: "proxima-nova", sans-serif;
		font-style: normal;
	}
	// Averia Serif
	@if $family == "averia" {
		font-family: "Averia Serif Libre", serif;
	}
	font-weight: $weight;
}

// Font Name Weights
// -----------------------
// Regular : 400
// Bold    : 700
// Black   : 900



//----------------------------------*\
// ICON FONTS
//----------------------------------

// If you're using a fontello font, please include the json file in your fonts folder and name it as projectname_config.json
// It's not recommended to make any edits here, by default the icons inherit the size of the element they are attached to.
// Change the fontello font-family name to the one you desire. In the settings before you download your fontello font, you can set the name. Set it to icon-font.

@font-face {
	font-family: 'icon-font';
	src: url('./assets/fonts/icon-font.eot?98763708');
	src: url('./assets/fonts/icon-font.eot?98763708#iefix') format('embedded-opentype'),
		 url('./assets/fonts/icon-font.woff?98763708') format('woff'),
		 url('./assets/fonts/icon-font.ttf?98763708') format('truetype'),
		 url('./assets/fonts/icon-font.svg?98763708#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Placeholder extend
%icon-font {
	font-family: "icon-font" !important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin: 0em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

// Mixin to get icon-fonts going.
// ex: @include icon-font(example-one);
@mixin icon-font($icon: false) {
	font-family: "icon-font" !important;
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	width: 1em;
	margin: 0em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;

	@if $icon == "example-one" {
		content: '\e803';
	}
	@if $icon == "example-two" {
		content: '\e805';
	}
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	@include icon-font();
}

// Copy the information from the fontello stylesheet below.
.icon-example-one:before { content: '\e803'; }
.icon-example-two:before { content: '\e805'; }