/* DEFAULTS GLOBAL
===================================*/

//----------------------------------*\
// HELPERS
//----------------------------------

// Box Sizing
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	@include mq-print {
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important
  }
}

// Hide tap on touch devices.
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}


//----------------------------------*\
// GENERAL
//----------------------------------

body {
	background: #FFF;
	font-size: 16px;
	color: #000;

	@include mq-print {
	width: 8in;
  }
}

a {
	color: $color-href;
	text-decoration: none;
	&:hover {
		color: $color-href-hover;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	margin: 1em 0;
	border: 0;
	border-bottom: 1px solid #a4abba;
}

//----------------------------------*\
// HEADLINES
//----------------------------------

h1, h2, h3, h4, h5, h6 {
	position: relative;
	line-height: $headline-line-height;
	margin-bottom: $headline-bottom-margin;
	a {
		color: $color-href;
	}
}

//----------------------------------*\
// TEXT COMPONENTS
//----------------------------------

p, dl {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: $paragraph-bottom-margin;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

//----------------------------------*\
// LIST STYLES
//----------------------------------

ul, ol, dd {
	line-height: 1.5em;
}

ul, ol {
	margin-bottom: 1.625em;
	padding-left: 20px;
}

li {
	font-size: inherit;
	line-height: 1.5em;
}

ol {list-style-type: decimal;}
ul {list-style-type: disc;}


//----------------------------------*\
// CLASS HELPERS
//----------------------------------

// Clear class helpers
.cf, .clear {
	@extend %cf;
}

// Visually hide elements while at the same time make them accessible on screen readers
.visually-hidden {
	@extend %visuallyhidden;
}
