/* JS BREAKPOINS
===================================*/

// Used to conditionally load js functions based off of media queries.


//----------------------------------*\
// Media Query Indicators
//----------------------------------


@include mq-min-mini {
	head {
		font-family:"mq-min-mini";
	}
	body:after {
		content:"mq-min-mini";
		display:none;
	}
}

@include mq-min-small {
	head {
		font-family:"mq-min-small";
	}
	body:after {
		content:"mq-min-small";
		display:none;
	}
}

@include mq-min-medium {
	head {
		font-family:"mq-min-medium";
	}
	body:after {
		content:"mq-min-medium";
		display:none;
	}
}

@include mq-min-large {
	head {
		font-family:"mq-min-large";
	}
	body:after {
		content:"mq-min-large";
		display:none;
	}
}

@include mq-min-xlarge {
	head {
		font-family:"mq-min-xlarge";
	}
	body:after {
		content:"mq-min-xlarge";
		display:none;
	}
}

@include mq-min-xxlarge {
	head {
		font-family:"mq-min-xxlarge";
	}
	body:after {
		content:"mq-min-xxlarge";
		display:none;
	}
}

// for 320px under
@include mq-max-tiny {
	head {
		font-family:"mq-tiny";
	}
	body:after {
		content:"mq-tiny";
		display:none;
	}
}

// fort tablet portrait
@include mq-portrait {
	head {
		font-family:"mq-portrait";
	}
	body:after {
		content:"mq-portrait";
		display:none;
	}
}

// for tablet landscape
@include mq-landscape {
	head {
		font-family:"mq-landscape";
	}
	body:after {
		content:"mq-landscape";
		display:none;
	}
}