// Convert pixels into em units
@function em($px, $context: 16) {
	@return $px / $context + 0em;
}

// Convert pixels to rem units if no ie8 support
@function rm($px, $context: 16) {
  @return $px / $context + 0rem;
}

// Structure
$gutter: 						em(10);
$gutter-large:					em(20);

// Rows
$max-width: 					em(1300);
$max-width-large: 			 	em(1250);
$max-width-medium: 				em(1020);
$max-width-small: 				em(680);

// Headlines
$headline-line-height: 			1.1em;
$headline-bottom-margin: 		0.5em;

// Paragraphs
$paragraph-font-size: 			1em;
$paragraph-bottom-margin: 		em(20);

// Media query - options
$m-query: 						false !default;
$mq-tablet-landscape: 			em(1280);

// Media query - min-width
$mq-min-mini: 					em(480);
$mq-min-small: 					em(600);
$mq-min-medium: 				em(768);
$mq-min-large: 					em(960);
$mq-min-xlarge: 				em(1220);
$mq-min-xxlarge: 				em(1440);

// Media query - max-width
$mq-max-tiny:                   $mq-min-mini - em(1);
$mq-max-mini:                   $mq-min-small - em(1);
$mq-max-small:                  $mq-min-medium - em(1);
$mq-max-medium:                 $mq-min-large - em(1);
$mq-max-large:                  $mq-min-xlarge - em(1);
$mq-max-xlarge:                 $mq-min-xxlarge - em(1);