/* WORDPRESS DEFAULT
===================================*/

// Default wordpress classes used inside the wysiwyg editor. Has been made responsive too for image usage.

.alignnone {
    margin: 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 20px auto;
}

.alignright {
    float:none;
    @include mq-min-small {
        float: right;
        margin: 5px 0 20px 20px;
    }
}

.alignleft {
    float: none;
    @include mq-min-small {
        float: left;
        margin: 5px 20px 20px 0;
    }
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    @include mq-min-small {
        width: auto;
        padding: 3px 5px 0;
        float: right;
        margin: 5px 0 20px 20px;
    }
}

a img.alignnone {
    @include mq-min-small {
        width: auto;
        margin: 5px 20px 20px 0;
    }
}

a img.alignleft {
    @include mq-min-small {
        width: auto;
        padding: 3px 5px 0;
        float: left;
        margin: 5px 20px 20px 0;
    }
}

a img.aligncenter {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}


.wp-caption.alignnone {
    @include mq-min-small {
        margin: 5px 20px 20px 0;
    }
}

.wp-caption.alignleft {
    @include mq-min-small {
        margin: 5px 20px 15px 0;
    }
}

.wp-caption.alignright {
    @include mq-min-small {
        margin: 5px 0 20px 20px;
    }
}

.wp-caption {
    width: 100% !important;
    max-width: 100%;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
    @include mq-min-small {
        width: 250px !important;
        margin-bottom: 0;
    }
    @include mq-min-medium {
        width: 320px !important;
    }
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0 0 5px;
    max-width: 100%;
    padding: 0;
    width: 100%;
}

.wp-caption p.wp-caption-text {
    @include font(generic);
    font-size: 12px;
    color: #8e8a7f;
    line-height: 16px;
    margin: 0;
    padding: 0 10px;
}

.aligncenter.wp-caption {
    width: 100% !important;
}
